= render "shared/error_messages", :target => @space
= form_for @space do |form|
  %fieldset
    = form.label :name
    = form.text_field :name
    = form.label :address
    = form.text_field :address
    = form.label :lat
    = form.text_field :lat
    = form.label :long
    = form.text_field :long

  %fieldset
    %legend Details
    = form.label :url, "Website"
    = form.text_field :url
    = form.label :twitter_url
    = form.text_field :twitter_url
    = form.label :description
    = form.text_area :description, :cols => 45, :rows => 10

  %fieldset
    = form.submit