- content_for :head do
  =javascript_include_tag 'Coworking.Searcher.js'

#searcher
  #map
  %p
    Type in an address, hit 'geocode', see what happens
  %input#searchField{:type=>"textbox", :value => @space.address }
  %input(type="submit" value="Geocode" onclick="searcher.update()")
  #searchStatus

  %br

  = form_for @space do |form|
    %fieldset
      = form.label :address
      = form.text_field :address
      = form.label :lat
      = form.text_field :lat
      = form.label :long
      = form.text_field :long

    %fieldset
      = form.submit

:javascript
  var searcher;
  $(document).ready(function() {
    searcher = new Coworking.Searcher('#searchField', '#searchStatus', '#space_address', '#space_lat', '#space_long', application.getMap().getGoogMap());
    searcher.update();

    $("#searchField").keyup(function(event) {
      if (event.keyCode == 13) {
        searcher.update();
      }
    });
  });
