%h2= @space.name

#map

- if @space.place
  %ul#lineage
    %li= link_to @space.place.name, @space.place
    - @space.place.lineage.each do |line|
      %li= link_to line.name, line

%ul#links
  - if @space.url?
    %li
      Website:
      = link_to @space.url
  - if @space.twitter_url?
    %li
      Twitter:
      = link_to @space.twitter_url


%p.content= simple_format @space.description

%ul#crud
  %li= link_to("Edit", edit_space_path(@space))
  %li= 'Delete'

#footer= "last updated #{time_ago_in_words(@space.updated_at)} ago"


:javascript
  viewData.spaceData = #{[@space].to_json};
