#map= image_tag "http://maps.google.com/maps/api/staticmap?center=San Francisco, CA&zoom=10&size=600x300&maptype=roadmap&markers=color:blue|label:S|40.702147,74.015794&markers=color:green|label:G|40.711614,-74.012318&markers=color:red|color:red|label:C|40.718217,-73.998284&sensor=false", :height => 300, :width => 600, :title => "Placeholder... interactive map coming soon"

%p.add_button= link_to "Add a coworking space", new_space_path

.spaces_list
	%h2 Coworking Spaces
	- if @spaces.many?
		%ul.spaces
			- @spaces.each do |space|
				%li= link_to(name_with_place(space), space)
	- elsif @spaces.any?
		%p= @spaces.first.name
	- else
		%p No spaces yet.
.places_list
	%h2 Regions
	- if @places.any?
		%ul.places
			= render :partial => 'places/place', :collection => @places
	- else
		%p No places yet.