%h2= @place.name

%h3= pluralize @place.descendants.count, "Place"

%ul.places
  = render :partial => 'place', :collection => @place.children

%h3= pluralize @place.all_spaces.count, "Space"

- if @place.all_spaces.any?
  %ul.spaces
    - @place.all_spaces.each do |space|
      %li= link_to name_with_place(space), space
- else
  %p No spaces here.