!!! XML
!!! Strict
%html{html_attrs()}
  %head
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic'
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'compiled/screen', :media => 'screen, projection'
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container
      %h1= "CoworkingDB"
      = render :partial => 'shared/navigation'
      = yield
